
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background: linear-gradient(270deg, #8478B3 0%, #D55ED4 33.18%, #ED805F 72.97%, #EED3A0 100%);
    background-size: 400% 400%;

    animation: gradient 15s ease infinite;
    cursor: url("assets/img/cursor.png"), pointer;
}

@media screen and (max-width : 800px) {
    .header {
    background-color: #151515;
}
}



.project-body {
    background: #161616 !important;
}

.project-detail-body {
    background: #161616 !important;
    margin: 0 160px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 11%;
    padding-top: 22px;
}

@media screen and (max-width : 800px) {
    .nav {
        display: flex;
        justify-content: space-between;
        margin: 0 4%;
        padding-top: 22px;
    }
}

.ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

.nav-title {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 31px;
    font-weight: 600;
}

@media screen and (max-width : 800px) {
    .nav-title {
        font-family: 'Roboto Mono', monospace;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
}
.nav-link{
    display: flex;
}

.nav-a {
    font-family: 'Epilogue', sans-serif;
    margin-left: 32px;
    color: #F2F2F2;
    font-size: 17px;
}

@media screen and (max-width: 800px) {
    .nav-a {
        font-family: 'Epilogue', sans-serif;
        margin-left: 32px;
        color: #F2F2F2;
        font-size: 13px;
    }
}

.link-container {
    display: flex;
    margin-right: 10px;
}

.link {
    margin-right: 10px;
}

.ide {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    height: 77%;  
    background-color: #151515;
    border-radius: 3px;
}

@media screen and (max-width : 800px) {
    .ide {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;  
    background-color: #151515;
    border-radius: 0px;
}
}

.ide-buttons {
    display: flex;
    padding-top: 15px;
    margin-left: 15px;
}

@media screen and (max-width : 800px) {
    .ide-buttons {
        display: none;
    }
}

.ide-btn-red {
    border: 1px solid #E96451
    ;
    width: 8px;
    height: 8px;
    background: #E96451;
    border-radius: 10px;
}

.ide-btn-orange {
    border: 1px solid #F4B840;
    width: 8px;
    height: 8px;
    background: #F4B840;
    border-radius: 10px;
    margin-left: 7px
}

.ide-btn-green {
    border: 1px solid #55BE42;
    width: 8px;
    height: 8px;
    background: #55BE42;
    border-radius: 10px;
    margin-left: 7px;
}

.ide-white-line {
    border: 0.5px solid #F5F5F5;
    opacity: 0.5;
    margin-top: 16px;
}


@media screen and (max-width : 800px) {
    .ide-white-line {
        border: 0.5px solid #151515;
        opacity: 0.5;
        margin-top: 0px;
    }
}

.ide-numbers-container {
    position: relative;
    border-right: 1px solid #F5F5F5;
    margin-left: 29px;
    opacity: 0.5;
}

.first-block {
    position: absolute;
    top : 70px;
 
}

.second-block {
    position: absolute;
    top : 313px
}

.numbers {
    color: white;
    opacity: 0.5;
    margin-bottom: 13px;
    font-size: 12px;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}

.ide-vertical-line {
    position: absolute;
    border: 0.5px solid #F5F5F5;
    opacity: 0.5;
    height: 510px;
    left: 30Px;
    margin-top: 70px;
}

@media screen and (max-width : 800px) {
    .ide-vertical-line {
        position: absolute;
        border: 0.5px solid #F5F5F5;
        opacity: 0.5;
        /* transform: rotate(-90deg); */
        /* width: 493px; */
        height: 519px;
        /* bottom: 305px; */
        /* left: -179px; */
        /* top: 45Px; */
        left: 30px;
        margin-top: 64px;
    }
}



.overview{
    color: #FFFBFE;
    opacity: 0.5;
    margin-top: 68px;
    margin-left: 85px;
    font-family: 'Epilogue', sans-serif;
}

@media screen and (max-width : 800px) {
    .overview{
        color: #FFFBFE;
        opacity: 0.5;
        margin-top: 120px;
        margin-left: 85px;
        font-family: 'Epilogue', sans-serif;
    }
}

.main-text {
    font-size: 18px;
    color: #FFFBFE;
    font-family: 'Epilogue', sans-serif;
    padding-top: 80px;
    margin-left: 85px;
    letter-spacing: 0.1em;
}

@media screen and (max-width : 800px) {
    .main-text {
        font-size: 15px;
        color: #FFFBFE;
        font-family: 'Epilogue', sans-serif;
        padding-top: 35px;
        margin-left: 85px;
        letter-spacing: 0.1em;
    }
}

.nickname-container {
    display: flex;
    padding-top: 7px;
}

@media screen and (max-width : 800px) {
    .nickname-container {
        display: flex;
        padding-top: 7px;
        max-width: 95%;
    }
}

.nickname {
    animation:typing 3.5s steps(30, end),
    white-caret .5s step-end infinite;
    overflow: hidden;
    margin-left: 85px;
    font-family: 'Epilogue', sans-serif;
    font-size: 60px;
    letter-spacing: 0.1em;
    background: linear-gradient(270deg, #8478B3 0%, #D55ED4 33.18%, #ED805F 72.97%, #EED3A0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap; 
    border-right: 2.5px solid orange; /* The typwriter cursor */
    font-weight: 800;
}

@media screen and (max-width : 800px) {
    .nickname {
        animation:typing 3.5s steps(30, end),
        white-caret .5s step-end infinite;
        overflow: hidden;
        margin-left: 85px;
        font-family: 'Epilogue', sans-serif;
        font-size: 46px;
        letter-spacing: 0.1em;
        background: linear-gradient(270deg, #8478B3 0%, #D55ED4 33.18%, #ED805F 72.97%, #EED3A0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: inherit; 
        border-right: 2.5px solid orange; /* The typwriter cursor */
        font-weight: 800;
    }
}

@keyframes white-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }

.nickname-bar {
    border: 2.5px solid #F5F5F5;
    margin-left: 10px;
}

.text-sub-nickname{
    padding-top: 57px;
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    color: #FFFBFE;
    max-width: 650px;
    margin-left: 85px;
    line-height: 25px;
}

@media screen and (max-width : 800px) {
    .text-sub-nickname{
        padding-top: 15px;
        font-size: 15px;
        font-family: 'Epilogue', sans-serif;
        color: #FFFBFE;
        max-width: 67%;  
        margin-left: 85px;
        line-height: 25px;
    }
}

.last-text {
    color: #FFFBFE;
    opacity: 0.5;
    margin-top: 107px;
    margin-left: 85px;
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
}
@media screen and (max-width : 800px) {
    .last-text {
        color: #FFFBFE;
        opacity: 0.5;
        margin-top: 38px;
        margin-left: 85px;
        font-family: 'Epilogue', sans-serif;
        font-size: 16px;
        line-height: 21px;
    }
}

.arrow-container {
    display: flex;
    margin-left: 85px;
    color: #FFFBFE;
    opacity: 0.5;
    font-family: 'Epilogue', sans-serif;
    margin-top: 6px;
}
.purple {
   color: #D55ED4;
}

.orange {
    color: #ED805F;
}

.blue {
    color: #8478B3;
}

.ide-btn {
        position: absolute;
        bottom: -15px;
        right: 45px;
        display:inline-flex;
        width: 207px;
        height: 48px;
        background: #BDBDBD;
        color: #222222;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 24px;
        margin-top: 32px;
        font-weight: 400;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        border-right: 3px solid #5F5F5F;
        border-bottom: 3px solid #5F5F5F;
        border-top: 1px solid #A8A8A8;
        border-left: 1px solid #A8A8A8;
}

@media screen and (max-width : 800px) {
    .ide-btn {
        position: initial;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 172px;
        height: 45px;
        background: #BDBDBD;
        color: #222222;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 24px;
        margin-top: 32px;
        font-weight: 400;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        border-right: 3px solid #5F5F5F;
        border-bottom: 3px solid #5F5F5F;
        border-top: 1px solid #A8A8A8;
        border-left: 1px solid #A8A8A8;
}
}

.home-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 43px;
    background: linear-gradient(270deg, #8478B3 17%, #D55ED4 33.18%, #ED805F 53.97%, #EED3A0 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
    text-align: center;
    letter-spacing: 0.1em;
    position: absolute;
    top: -69px;
    left: 50%; 
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 800px) {
    .home-title {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 800;
        font-size: 29px;
        line-height: 43px;
        background: linear-gradient(270deg, #8478B3 17%, #D55ED4 33.18%, #ED805F 53.97%, #EED3A0 88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;  
        text-align: center;
        letter-spacing: 0.1em;
        position: absolute;
        top: -69px;
        left: 50%; 
        transform: translate(-50%, -50%);
    }
}

.change-project {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
    margin-left: 11%;
    margin-right: 11%;
}

.bubble-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.bubble{
    height: 12px;
    border-radius: 10px;
    background-color: grey;
    width: 12px;
    margin-right: 8px;
}

.project-back {
    display: flex;
    font-weight: 600;
    background: linear-gradient(270deg, #8478B3 66%, #EED3A0 100%);
    background-size: 200%;
    background-position: 0% center;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-box-decoration-break: clone;
      letter-spacing: 0.1em;
      z-index: 1;
}

.project-back:hover {
    background-position: 100% center;
}

.project-arrow-logo {
    height: 18px;
}

.project-back-text {
    font-family: 'Epilogue';
    font-size: 18px;
    margin-left: 8px;
}

@media screen and (max-width: 800px) {
    .project-back-text {
        font-family: 'Epilogue';
        font-size: 10px;
        margin-right: 8px;
        display: flex;
        text-align: right;
        align-items: center;
    }
}

.project-next {
    display: flex;
    justify-content: center;
    font-weight: 600;
    background: radial-gradient(100% 439.48% at 90% 51.72%, #E47056 52%, #E476B4 63.45%); 
    background-size: 200%;
    background-position: 0% center;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-box-decoration-break: clone;
      letter-spacing: 0.1em;
      z-index: 1;
}

.project-next-text {
    font-family: 'Epilogue';
    font-size: 18px;
    margin-right: 8px;
}

@media screen and (max-width: 800px) {
    .project-next-text {
        font-family: 'Epilogue';
        font-size: 10px;
        margin-right: 8px;
        display: flex;
        text-align: right;
        align-items: center;
    }
}
.project-next:hover {
    background-position: 100% center;
}

.home-container {
    position: relative;
}

.home-container section {
    opacity: 0;
    z-index: 0;
    transition: all 2s;
}

.home-container section:nth-child(1){
    z-index: 1;
    opacity: 1;
}

.img-mac-container {
    position: absolute;
    left: 50%; 
    top: 280px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .img-mac-container {
        position: absolute;
        left: 50%; 
        bottom: 50%;
        transform: translate(-95%, -50%);
        z-index: -1;
    }
}

.macbook-img {
    height: 600px;
    width: 1000px;
}

@media screen and (max-width: 800px) {
    .macbook-img {
        height: 265px;
        width: 190%;
    }
}

.home-box{
    width: 313px;
    height: 280px;
    background-color: #BDBDBD;
    position: absolute;
    right: 130px;
    top: 162px;
}

@media screen and (max-width: 800px) {
    .home-box{
        top: 50%;
        left: 50%;
        transform: translate(-50%, 13%);
       height: 230px;
       width: 79%;
    }
}

.header-box {
    background-color: #8478B3;
}

.header-box-title {
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.box-title {
    font-family: 'Verdana';
    font-size: 16px;
    font-weight: 700;
    padding-left: 25px;
    padding-top: 16px;
}

.box-description {
    font-family: 'Epilogue';
    padding-left: 25px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 20px;
    max-width: 85%;

}

@media screen and (max-width: 800px) {
    .box-description {
        font-family: 'Epilogue';
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 16px;
        font-size: 11px;
        line-height: 20px;
    }
}

.box-button-container {
    text-align: end;
    margin-right: 25px;
    margin-top: 45px;
}

@media screen and (max-width: 800px) {
    .box-button-container {
        position: absolute;
        right: 0;
        bottom: 22px;
    }
}

.box-button-link {
    font-family: 'Roboto Mono', monospace;

    color: white;
    background-color: #5B4E8B;
    width: 94px;
    height: 30px;
    font-size: 14px;
    z-index: 1;
    position: absolute;
    bottom: 15Px;
    right: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sebaclean-detail-title {
    font-size: 42px;
    font-family: 'Epilogue';
    letter-spacing: 0.1em;
}

/* Mobile first css about page */

.img-profile-container {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .img-profile-container {
        display: flex;
        justify-content: left;
        margin-left: 11%;
    }
}

.profile-img {
    height: 191px;
    width: 191px;
    margin-top: 6%;
}

@media screen and (min-width: 1024px) {
    .profile-img {
        height: 191px;
        width: 191px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .resume {
        display: flex;
       margin-top: 80px;
       position: relative;

    }
}

.resume-btn-container {
    display:inline-flex;
    width: 210px;
    height: 35px;
    background: #BDBDBD;
    color: #222222;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    margin-top: 32px;
    font-weight: 400;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    border-right: 3px solid #5F5F5F;
    border-bottom: 3px solid #5F5F5F;
    border-top: 1px solid #A8A8A8;
    border-left: 1px solid #A8A8A8;
    background-color: #8478B3;
}

.resume-btn-link {
    color: #FFFFFF;
}

.resume-center-btn {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .resume-center-btn {
        position: absolute;
        bottom: -20px;
        left: 195px;
    }
}

.resume-text-container{
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 4%;
}

@media screen and (min-width: 1024px) {
    .resume-text-container{
        margin-top: 0;
        margin-left: 6%;
    }
}

.resume-text {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
letter-spacing: 0.05em;
color: #F5F5F5;
}

@media screen and (min-width: 1024px) {
    .resume-text {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: #F5F5F5;
        max-width: 742px;
        }
}

.education {
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 10%;
}

@media screen and (min-width: 1024px) {
    .education {
        margin-left: 11%;
        margin-top: 5%;
    }
}

.education-title {
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
background-size: 100%;
background: linear-gradient(270deg, #8478B3 0%, #D55ED4 62.18%, #ED805F 93.97%, #EED3A0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

@media screen and (min-width: 1024px) {
    .education-title {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        background-size: 100%;
        background: linear-gradient(270deg, #8478B3 0%, #D55ED4 62.18%, #ED805F 93.97%, #EED3A0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        }
}


.education-text {
margin-top: 8%;
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
letter-spacing: 0.05em;
color: #F5F5F5;
}

@media screen and (min-width: 1024px) {
    .education-text {
        margin-top: 2%;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: #F5F5F5;
        max-width: 667px;
        }
}

.skills-1 {
    background-color: #BDBDBD;
    margin-right: 46%;
    border-top: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
}

@media screen and (min-width: 1024px) {
    .skills-1 {
        background-color: #BDBDBD;
        margin-right: 0;
        width: 191px;
        height: 317px;
        border-top: 1px solid #DFDFDF;
        border-left: 1px solid #DFDFDF;
        border-right: 1px solid #5F5F5F;
        border-bottom: 1px solid #5F5F5F;
    }
}

.skills-container {
    margin-top: 10%;
    position: relative;
}

.skills-1-header {
    background-color: #E47056;
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: 700;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 12%;
}

.skill-link {
    font-size: 14px;
    margin-left: 13%;
    font-family: 'Epilogue';
    font-style: normal;
    margin-top: 10%;
    font-weight: 400;
}

.skill-link-last {
    font-size: 14px;
    margin-left: 13%;
    font-family: 'Epilogue';
    font-style: normal;
    margin-top: 10%;
    font-weight: 400;
    padding-bottom: 10%;
}


.skills-2 {
    position: absolute;
    width: 179px;
    height: 151px;
    background-color: #BDBDBD;
    bottom: 13px;
    right: 11px;
    border-top: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
}

@media screen and (min-width: 1024px) {
    .skills-2 {
        position: absolute;
        width: 179px;
        height: 151px;
        background-color: #BDBDBD;
        bottom: 179px;
        left: 160px;
        border-top: 1px solid #DFDFDF;
        border-left: 1px solid #DFDFDF;
        border-right: 1px solid #5F5F5F;
        border-bottom: 1px solid #5F5F5F;
    }
}

.skills-2-header {
    background-color: #BD66CB;
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: 700;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
}

.experiences {
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 4%;
}

@media screen and (min-width: 1024px) {
    .experiences {
        display: none;
    }
}

.experiences-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    background-size: 100%;
    background: linear-gradient(270deg, #8478B3 0%, #D55ED4 62.18%, #ED805F 93.97%, #EED3A0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.experiences-detail-container-first {
        margin-top: 5%;
 }

 .experiences-detail-container {
    margin-top: 7%;
}

.experiences-detail-container-last {
    margin-top: 7%;

    margin-bottom: 10%;
}

.experiences-detail-name {
    color: #E47056;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.experiences-detail-post {
    color: #E47056;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.experiences-detail-text {
    margin-top: 3%;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #F5F5F5;
}

.experience-desktop {
    margin-top: 10%;
    margin-left: 18%;
    max-width: 53%;
}

@media screen and (max-width: 800px) {
    .experience-desktop {
        display: none;
    }
}

.flex-container {
    display: flex;
}

@media screen and (max-width : 800px) {
    .flex-container {
        display: block;
    }
}

/* Contact page css */ 

.contact-title {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 25px;
        background-size: 100%;
        background: linear-gradient(270deg, #8478B3 0%, #D55ED4 62.18%, #ED805F 93.97%, #EED3A0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-left: 4%;
        margin-top: 60px;
}

@media screen and (min-width: 1024px) {
    .contact-title {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 40px;
        background-size: 100%;
        background: linear-gradient(270deg, #8478B3 0%, #D55ED4 80.18%, #ED805F 93.97%, #EED3A0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-left: 11%;
        margin-top: 130px;
}
}

.contact-text {
    font-family: 'Epilogue';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
}

@media screen and (min-width: 1024px) {
    .contact-text {
        font-family: 'Epilogue';
        font-size: 14px;
        color: #FFFFFF;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 11%;
        margin-right: 4%;
        max-width: 35%;
    }
}

.social-container {
    display: flex;
    margin-left: 4%;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .social-container {
        display: block;
        margin-left: 11%;
        margin-top: 20px;
    }
}

.email-title {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Epilogue';
}

@media screen and (min-width: 1024px) {
    .email-title {
        color: #FFFFFF;
        font-size: 32px;
        font-family: 'Epilogue';
    }
}

.email-text {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Epilogue';
    font-weight: 300;
    margin-top: 15px;
}

.social {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

@media screen and (min-width: 1024px) {
    .social {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 30px;
    }
}

.social-title {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Epilogue';
}

@media screen and (min-width: 1024px) {
    .social-title {
        color: #FFFFFF;
        font-size: 32px;
        font-family: 'Epilogue';
    }
}

.social-text {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Epilogue';
    font-weight: 300;
    margin-top: 15px;
    text-decoration: underline #FFFFFF;
}